/* #rootReview {
  width: 594px;
  max-width: 648px;
  margin-left: 24px;
  margin-right: 24px;
} */

.body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #484848;
}

input, button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-sizing: content-box;
}

.containerNav {
  height: 51px;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
}

.containerLogo {
  height: 48px;
  width: 40px;
  margin: 10px 20px 0 5px;
  background-image: url(./bedroost-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.containerSearchBox {
  display: flex;
}

.containerSearch {
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 28px;
  padding: 10px 0;
  padding-left: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.containerSearch:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(26, 26, 29, 0.08);
}

.containerSearchInput {
  transition: width 0.25s ease-in;
  /* transition: color 0.25s ease 0s; */
  height: 22px;
  width: 220px;
  font-weight: 700;
  font-size: 17px;
}

.searchIcon {
  padding: 5px;
  padding-right: 15px;
}

.containerHeader {
  visibility: hidden;
  font-weight: 600;
  font-size: 14px;
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.style__carouselContainer___j8Voe svg {
  visibility: hidden;
}

.containerHeader {
  visibility: show;
}

@media (max-width: 768px) {
  .style__galleryCarouselBody___MjjU1 {
    height: auto !important;
  }
  
  .style__carouselContainer___j8Voe {
    display: block !important;
  }

  .style__carouselMainImage___QX1b_ {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .containerSearchBox {
    width: 500px;
  }

  .containerSearchInput {
    width: 410px;
  }

}

@media (min-width: 1080px) {
  .style__carouselContainer___j8Voe svg {
    visibility: show;
  }

  .containerHeader {
    visibility: show;
  }

  .containerSearchBox {
    width: 900px;
    display: flex;
  }

  .containerSearchInput {
    width: 410px;
  }

  .containerSearchInput:focus {
    width: 600px;
  }
}

#description .main {
  margin: 0;
}

#description {
  max-width: 800px;
}

#description .summary {
  height: 140px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  #description .summary {
    padding: 0;
  }
}

.containerBody {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1180px;
}

.containerReview {
  max-width: 1180px;
}

.containerBooking {
  width: 0;
  position: relative;
  min-height: 1px;
}

@media (min-width: 768px) {
  .containerBooking {
    padding-left: 8px;
  }
}

#rootBooking{
  position: -webkit-sticky;
  position: sticky;
  top: 0; 
  width: 0;
}

#rootBooking .BookingForm{
  /* position: absolute;
  left: 40px;
  top: 24px; */
}

/* gallery css */

.style__galleryContainer2___1lOrF img {
  border: none !important;
}

.style__galleryBody___3ceNy {
  border-top: 1px solid #484848;
}

.style__galleryContainer3___26UHC {
  border-left: 1px solid #484848;
}

#style__galleryBigImage___HTRYl {
  border: 1px solid #484848;
}

#style__galleryImage___6P_QQ0, #style__galleryImage___6P_QQ1 {
  border: 1px solid #484848;
}

#style__galleryImage___6P_QQ1 {
  border-bottom: 2px solid #484848;
}
